{% extends "plan/base.html" %}
{% block migajas %}{% endblock %}
{% block content %}
<p class="auto-style1">objetivos</p>
<p class="auto-style8" style="width: 1020px">Esta es la página de entrada para 
el ejecutivo (<em>{{ user }}</em>). En esta página el podrá revisar el progreso de los objetivos, 
cancelar un objetivo específico, o crear un nuevo objetivo y asignarlo al 
manager de su elección</p>
{% if ol %}
<table class="auto-style9" style="width: 99%">
{% for ob in ol %}
	<tr>
		<td class="auto-style2" style="width: 2699px">
		{{ ob.id }}.- <a href="objetivo/view/{{ ob.id }}/">{{ ob.nombre }}</a></td>
		<td class="auto-style6">
		<img alt="este valor se calcula" height="40" src="/static/admin/grm/{{ ob.semaforo }}.png" width="120" /></td>
		<td class="auto-style10" style="width: 107px">
		<a href="objetivo/rm/{{ ob.id }}/"><img id="imag{{ ob.id }}" alt="cancelar" height="16" onmousedown="FP_swapImg(1,0,/*id*/'imag{{ ob.id }}',/*url*/'/static/admin/grm/borrarPress.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'imag{{ ob.id }}',/*url*/'/static/admin/grm/borrar.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'imag{{ ob.id }}',/*url*/'/static/admin/grm/borrarFocus.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'imag{{ ob.id }}',/*url*/'/static/admin/grm/borrarFocus.jpg')" src="/static/admin/grm/borrar.jpg" style="border: 0" width="80" /></a></td>
	</tr>
{% endfor %}
</table>
{% endif %}
<p>&nbsp;<a href="objetivo/add/"><img id="img4" alt="añadir nuevo objetivo?" height="33" onmousedown="FP_swapImg(1,0,/*id*/'img4',/*url*/'/static/admin/grm/NuevoObjetivoPress.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img4',/*url*/'/static/admin/grm/NuevoObjetivo.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img4',/*url*/'/static/admin/grm/NuevoObjetivoFocus.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img4',/*url*/'/static/admin/grm/NuevoObjetivoFocus.jpg')" src="/static/admin/grm/NuevoObjetivo.jpg" style="border: 0" width="166" /></a></p>
</body>

</html>
{% endblock %}

