{% extends "plan/base.html" %}
{% block migajas %}{% endblock %}
{% block content %}
<p class="auto-style1">mis objetivos</p>
<p class="auto-style8" style="width: 1020px">Esta es la p&aacute;gina de entrada para el manager (<em>{{ user }}</em>). En esta p&aacute;gina el podr&aacute; revisar el progreso de sus objetivos y accesar un objetivo en espec&iacute;fico.</p>
{% if ol %}
<table class="auto-style9" style="width: 99%">
{% for ob in ol %}
	<tr>
		<td class="auto-style2" style="width: 2699px">
		{{ ob.id }}.- <a href="objetivo/view/{{ ob.id }}/">{{ ob.nombre }}</a></td>
		<td class="auto-style6">
		<img alt="este valor se calcula" height="40" src="/static/admin/grm/{{ ob.semaforo }}.png" width="120" /></td>
	</tr>
{% endfor %}
</table>
{% endif %}
</body>

</html>
{% endblock %}
