{% extends "plan/base.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}grm/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if mf %}
<div id="content-main">
<h1>Meta</h1>{{ mf.nombre }}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="" method="post">
{% csrf_token %}
    {{ mf.management_form }}
<p>        {% for field in mf.0 %}
            {{ field.label_tag }}: {{ field }}<br>
        {% endfor %}
  {% for hi in mf.0.hijas %}
  {{ hi.management_form }}
  {{ hi }}<br>
  {% endfor %}
</p>  
<input type="submit" value="Save" />
</form>
</div>
{% endif %}
{% endblock %}
