{% extends "plan/base.html" %}
{% load i18n %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% load adminmedia %}{% admin_media_prefix %}grm/dashboard.css" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if of %}
<div id="content-main">
<p class="auto-style1">Edici&oacute;n de Objetivo</p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="" method="post">
{% csrf_token %}
{{ of.management_form }}
<p>        {% for field in of.0 %}
            {{ field.label_tag }}: {{ field }}<br>
        {% endfor %}
</p>  
<input type="image" name="submit" src="/static/admin/grm/guardarCambios.jpg" border="0"/>
</form>
</div>
{% endif %}
{% endblock %}
