<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="nl-be" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>planeación táctica</title>
<style type="text/css">
a {
	color: #00CCFF;
}
a:visited {
	color: #0066CC;
}
a:active {
	color: #00FFFF;
}
a:hover {
	color: #66FFCC;
}
.auto-style1 {
	font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style8 {
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style9 {
	font-size: medium;
}
.auto-style10 {
	border: 1px solid #FFFFFF;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style11 {
	border: 1px solid #FFFFFF;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}
.auto-style12 {
	border: 1px solid #FFFFFF;
	font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
</style>
<script type="text/javascript">
<!--
function FP_swapImg() {//v1.0
 var doc=document,args=arguments,elm,n; doc.$imgSwaps=new Array(); for(n=2; n<args.length;
 n+=2) { elm=FP_getObjectByID(args[n]); if(elm) { doc.$imgSwaps[doc.$imgSwaps.length]=elm;
 elm.$src=elm.src; elm.src=args[n+1]; } }
}

function FP_preloadImgs() {//v1.0
 var d=document,a=arguments; if(!d.FP_imgs) d.FP_imgs=new Array();
 for(var i=0; i<a.length; i++) { d.FP_imgs[i]=new Image; d.FP_imgs[i].src=a[i]; }
}

function FP_getObjectByID(id,o) {//v1.0
 var c,el,els,f,m,n; if(!o)o=document; if(o.getElementById) el=o.getElementById(id);
 else if(o.layers) c=o.layers; else if(o.all) el=o.all[id]; if(el) return el;
 if(o.id==id || o.name==id) return o; if(o.childNodes) c=o.childNodes; if(c)
 for(n=0; n<c.length; n++) { el=FP_getObjectByID(id,c[n]); if(el) return el; }
 f=o.forms; if(f) for(n=0; n<f.length; n++) { els=f[n].elements;
 for(m=0; m<els.length; m++){ el=FP_getObjectByID(id,els[n]); if(el) return el; } }
 return null;
}
// -->
</script>
</head>

<body style="color: #FFFFFF; background-color: #333333; width: 1032px;" onload="FP_preloadImgs(/*url*/'button5F.jpg',/*url*/'button60.jpg',/*url*/'button62.jpg',/*url*/'button63.jpg',/*url*/'button7B.jpg',/*url*/'button7F.jpg')">

<table style="width: 100%">
	<tr>
		<td style="width: 944px">
		<img alt="http://goremo.mx" height="70" src="goremo1.gif" width="217" />&nbsp;&nbsp;&nbsp;
		<span class="auto-style1">gestión de usuarios</span></td>
		<td>
<span class="auto-style1">
		<img id="img1" alt="salir" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img1',/*url*/'button60.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img1',/*url*/'button5E.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img1',/*url*/'button5F.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img1',/*url*/'button5F.jpg')" src="button5E.jpg" style="border: 0" width="100" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="salir" --><br />
		<a href="admin.html">
		<img id="img8" alt="regreso" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img8',/*url*/'button63.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img8',/*url*/'button61.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img8',/*url*/'button62.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img8',/*url*/'button62.jpg')" src="button61.jpg" style="border: 0" width="100" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="regreso" --></a></span></td>
	</tr>
</table>
<p class="auto-style8" style="width: 1020px"><br />
<br />
En esta página, el administrador podrá manejar los datos de los usuarios.<br />
<br />
<br />
</p>
<table style="width: 99%; height: 87px" class="auto-style9">
	<tr>
		<td class="auto-style12" style="height: 26px; width: 818px;">
		&nbsp;<span class="auto-style9">Nombre del usuario</span></td>
		<td class="auto-style12" style="height: 26px; width: 611px;" colspan="3">
		<input name="Text1" style="width: 515px" type="text" /></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 26px; width: 818px;">
		Correo electrónico</td>
		<td class="auto-style12" style="height: 26px; width: 611px;" colspan="3">
		<input name="Text2" style="width: 515px" type="text" /></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 26px; width: 818px;">
		Logonid</td>
		<td class="auto-style12" style="height: 26px; width: 611px;" colspan="3">
		<input name="Text3" style="width: 203px" type="text" /></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 26px; width: 818px;">
		Password</td>
		<td class="auto-style12" style="height: 26px; width: 280px;">
		<input class="auto-style9" name="Text4" style="width: 203px" type="password" /></td>
		<td class="auto-style10" style="height: 26px; width: 611px;">
		repetir password</td>
		<td class="auto-style10" style="height: 26px; width: 611px;">
		<input class="auto-style9" name="Text5" style="width: 203px" type="password" /></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 26px; width: 818px;">
		Teléfono</td>
		<td class="auto-style10" style="height: 26px; width: 611px;" colspan="3">
		<input name="Text6" style="width: 203px" type="text" /></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 26px; width: 818px;">
		Rol</td>
		<td class="auto-style10" style="height: 26px; width: 611px;" colspan="3">
		<select name="Select2" style="width: 373px">
		<option>Administrador</option>
		<option>Ejecutivo</option>
		<option>Manager</option>
		<option>Lider de proyecto</option>
		<option>Responsable de acción</option>
		</select></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 26px" colspan="4">
		&nbsp;</td>
	</tr>
	<tr>
		<td class="auto-style11" style="height: 26px" colspan="4">
		<img id="img6" alt="guardar cambios" height="29" onmousedown="FP_swapImg(1,0,/*id*/'img6',/*url*/'button7F.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img6',/*url*/'button7A.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img6',/*url*/'button7B.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img6',/*url*/'button7B.jpg')" src="button7A.jpg" style="border: 0" width="145" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="guardar cambios" --></td>
	</tr>
	</table>

</body>

</html>
