<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="nl-be" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>planeación táctica</title>
<style type="text/css">
a {
	color: #00CCFF;
}
a:visited {
	color: #0066CC;
}
a:active {
	color: #00FFFF;
}
a:hover {
	color: #66FFCC;
}
.auto-style1 {
	font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style8 {
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style9 {
	font-size: medium;
}
.auto-style10 {
	border: 1px solid #FFFFFF;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style11 {
	border: 1px solid #FFFFFF;
	font-size: medium;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style12 {
	border: 1px solid #FFFFFF;
	font-size: medium;
}
.auto-style13 {
	border: 1px solid #FFFFFF;
	font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style14 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: medium;
}
</style>
<script type="text/javascript">
<!--
function FP_swapImg() {//v1.0
 var doc=document,args=arguments,elm,n; doc.$imgSwaps=new Array(); for(n=2; n<args.length;
 n+=2) { elm=FP_getObjectByID(args[n]); if(elm) { doc.$imgSwaps[doc.$imgSwaps.length]=elm;
 elm.$src=elm.src; elm.src=args[n+1]; } }
}

function FP_preloadImgs() {//v1.0
 var d=document,a=arguments; if(!d.FP_imgs) d.FP_imgs=new Array();
 for(var i=0; i<a.length; i++) { d.FP_imgs[i]=new Image; d.FP_imgs[i].src=a[i]; }
}

function FP_getObjectByID(id,o) {//v1.0
 var c,el,els,f,m,n; if(!o)o=document; if(o.getElementById) el=o.getElementById(id);
 else if(o.layers) c=o.layers; else if(o.all) el=o.all[id]; if(el) return el;
 if(o.id==id || o.name==id) return o; if(o.childNodes) c=o.childNodes; if(c)
 for(n=0; n<c.length; n++) { el=FP_getObjectByID(id,c[n]); if(el) return el; }
 f=o.forms; if(f) for(n=0; n<f.length; n++) { els=f[n].elements;
 for(m=0; m<els.length; m++){ el=FP_getObjectByID(id,els[n]); if(el) return el; } }
 return null;
}
// -->
</script>
</head>

<body style="color: #FFFFFF; background-color: #333333; width: 1032px;" onload="FP_preloadImgs(/*url*/'button2C.jpg',/*url*/'button2D.jpg',/*url*/'button19.jpg',/*url*/'button23.jpg',/*url*/'button25.jpg',/*url*/'button26.jpg',/*url*/'button31.jpg',/*url*/'button32.jpg',/*url*/'button54.jpg',/*url*/'button55.jpg',/*url*/'button6A1.jpg',/*url*/'button6B1.jpg',/*url*/'button6D.jpg',/*url*/'button6E.jpg')">

<table style="width: 100%">
	<tr>
		<td style="width: 944px">
		<img alt="http://goremo.mx" height="70" src="goremo1.gif" width="217" />&nbsp;&nbsp;&nbsp;
		<span class="auto-style1">administración</span></td>
		<td>
<span class="auto-style1">
		<img id="img1" alt="salir" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img1',/*url*/'button2D.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img1',/*url*/'button2B.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img1',/*url*/'button2C.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img1',/*url*/'button2C.jpg')" src="button2B.jpg" style="border: 0" width="100" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="salir" --></span></td>
	</tr>
</table>
<p class="auto-style8" style="width: 1020px"><br />
<br />
Esta es la página de entrada del administrador.<br />
Aquí se manejan los usuarios y se tiene acceso a la funcionalidad completa del 
sistema<br />
<br />
</p>
<table style="width: 99%; height: 87px" class="auto-style9">
	<tr>
		<td class="auto-style10" style="height: 26px; width: 558px">Gestión de 
		usuarios</td>
		<td class="auto-style13" style="height: 26px; width: 1004px;">
		<span class="auto-style9">&nbsp;&nbsp;</span><select name="Select1" style="width: 348px; height: 18px;" class="auto-style14">
		<option>usuario1</option>
		<option>usuario2</option>
		<option>usuario3</option>
		</select>
		<a href="admin-usuarios.html">
		<img id="img6" alt="modificar" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img6',/*url*/'button55.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img6',/*url*/'button53.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img6',/*url*/'button54.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img6',/*url*/'button54.jpg')" src="button53.jpg" style="border: 0" width="100" class="auto-style9" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="modificar" --></a></td>
		<td class="auto-style13" style="height: 26px; width: 309px;">
		<img id="img8" alt="borrar usuario" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img8',/*url*/'button6E.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img8',/*url*/'button6C1.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img8',/*url*/'button6D.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img8',/*url*/'button6D.jpg')" src="button6C1.jpg" style="border: 0" width="100" class="auto-style9" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="borrar usuario" --></td>
		<td class="auto-style13" style="height: 26px">
		<a href="admin-usuarios.html">
		<img id="img7" alt="nuevo usuario" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img7',/*url*/'button6B1.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img7',/*url*/'button73.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img7',/*url*/'button6A1.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img7',/*url*/'button6A1.jpg')" src="button73.jpg" style="border: 0" width="100" class="auto-style9" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="nuevo usuario" --></a></td>
	</tr>
	<tr>
		<td class="auto-style10" style="width: 558px" rowspan="3">manejo de 
		contenido</td>
		<td class="auto-style11" style="height: 26px; " colspan="2">
		<a href="admin-contenido.html">Objetivo 1</a> </td>
		<td class="auto-style12" style="height: 26px">
		<img id="img3" alt="cancelar" height="16" onmousedown="FP_swapImg(1,0,/*id*/'img3',/*url*/'button23.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img3',/*url*/'button18.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img3',/*url*/'button19.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img3',/*url*/'button19.jpg')" src="button18.jpg" style="border: 0" width="80" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="cancelar" --></td>
	</tr>
	<tr>
		<td class="auto-style11" style="height: 26px; " colspan="2">
		<a href="admin-contenido.html">Objetivo 2</a> </td>
		<td class="auto-style12" style="height: 26px">
		<img id="img4" alt="cancelar" height="16" onmousedown="FP_swapImg(1,0,/*id*/'img4',/*url*/'button26.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img4',/*url*/'button24.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img4',/*url*/'button25.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img4',/*url*/'button25.jpg')" src="button24.jpg" style="border: 0" width="80" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="cancelar" --></td>
	</tr>
	<tr>
		<td class="auto-style11" style="height: 17px; " colspan="2">
		<a href="admin-contenido.html">Objetivo 3</a> </td>
		<td class="auto-style12" style="height: 17px">
		<img id="img5" alt="cancelar" height="16" onmousedown="FP_swapImg(1,0,/*id*/'img5',/*url*/'button32.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img5',/*url*/'button27.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img5',/*url*/'button31.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img5',/*url*/'button31.jpg')" src="button27.jpg" style="border: 0" width="80" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="cancelar" --></td>
	</tr>
	</table>

</body>

</html>
