<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="nl-be" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>planeación táctica</title>
<style type="text/css">
a {
	color: #00CCFF;
}
a:visited {
	color: #0066CC;
}
a:active {
	color: #00FFFF;
}
a:hover {
	color: #66FFCC;
}
.auto-style9 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: medium;
	border: 0 solid #FFFFFF;
}
.auto-style8 {
	margin-left: 0px;
}
.auto-style12 {
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style13 {
	margin-left: 0px;
	font-size: medium;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style1 {
	font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style15 {
	border-color: #FFFF00;
	border-width: 0;
}
.auto-style16 {
	border: 1px solid #FFFFFF;
}
.auto-style17 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: medium;
	border: 1px solid #FFFFFF;
}
.auto-style18 {
	border: 0 solid #FFFFFF;
}
.auto-style19 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: xx-large;
	border: 0 solid #FFFFFF;
	text-align: center;
}
</style>
<script type="text/javascript">
<!--
function FP_swapImg() {//v1.0
 var doc=document,args=arguments,elm,n; doc.$imgSwaps=new Array(); for(n=2; n<args.length;
 n+=2) { elm=FP_getObjectByID(args[n]); if(elm) { doc.$imgSwaps[doc.$imgSwaps.length]=elm;
 elm.$src=elm.src; elm.src=args[n+1]; } }
}

function FP_preloadImgs() {//v1.0
 var d=document,a=arguments; if(!d.FP_imgs) d.FP_imgs=new Array();
 for(var i=0; i<a.length; i++) { d.FP_imgs[i]=new Image; d.FP_imgs[i].src=a[i]; }
}

function FP_getObjectByID(id,o) {//v1.0
 var c,el,els,f,m,n; if(!o)o=document; if(o.getElementById) el=o.getElementById(id);
 else if(o.layers) c=o.layers; else if(o.all) el=o.all[id]; if(el) return el;
 if(o.id==id || o.name==id) return o; if(o.childNodes) c=o.childNodes; if(c)
 for(n=0; n<c.length; n++) { el=FP_getObjectByID(id,c[n]); if(el) return el; }
 f=o.forms; if(f) for(n=0; n<f.length; n++) { els=f[n].elements;
 for(m=0; m<els.length; m++){ el=FP_getObjectByID(id,els[n]); if(el) return el; } }
 return null;
}
// -->
</script>
</head>

<body style="color: #FFFFFF; background-color: #333333" onload="FP_preloadImgs(/*url*/'button35.jpg',/*url*/'button36.jpg',/*url*/'button39.jpg',/*url*/'button3A.jpg',/*url*/'button7.jpg',/*url*/'buttonB.jpg')">

<p class="auto-style12">
<table style="width: 83%">
	<tr>
		<td style="width: 908px">
		<img alt="http://goremo.mx" height="70" src="goremo1.gif" width="217" />&nbsp;&nbsp;&nbsp;
<span class="auto-style1">detalle de objetivo <em>&lt;nombre&gt;&nbsp; </em></span>&nbsp;</td>
		<td>
<span class="auto-style1">
		<img id="img1" alt="salir" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img1',/*url*/'button36.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img1',/*url*/'button34.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img1',/*url*/'button35.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img1',/*url*/'button35.jpg')" src="button34.jpg" style="border: 0" width="100" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="salir" --><br />
		<a href="manager.html">
		<img id="img2" alt="regresar" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img2',/*url*/'button3A.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img2',/*url*/'button38.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img2',/*url*/'button39.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img2',/*url*/'button39.jpg')" src="button38.jpg" style="border: 0" width="100" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="regresar" --></a></span></td>
	</tr>
</table>
</p>
<p class="auto-style12" style="width: 879px">en esta pantalla el manager podrá 
revisar los detalles de progreso de uno de sus objetivos en específico. También 
podrá añadir, modificar o borrar metas, estrategias y proyectos.</p>
		<table class="auto-style15" style="width: 83%">
			<tr>
				<td class="auto-style17" style="width: 4117px">Objetivo 1</td>
				<td class="auto-style16" style="width: 176px">
				<img alt="" class="auto-style13" height="50" src="alto.png" width="150" /></td>
			</tr>
			</table>
		<table class="auto-style15" style="width: 83%">
			<tr>
				<td class="auto-style9">
				<table style="width: 94%" align="right">
					<tr>
						<td class="auto-style16" style="width: 818px">
						<a href="modificacion-meta.html">meta 1.1</a></td>
						<td class="auto-style16" style="width: 42px">
						<img alt="" height="40" src="alto.png" width="120" /></td>
					</tr>
					<tr>
						<td colspan="2">
						<table style="width: 93%" align="right">
							<tr>
								<td class="auto-style16" style="width: 832px">
								<a href="modificacion-estrategia.html">estrategia 1.1.1</a></td>
								<td class="auto-style16">
								<img alt="" class="auto-style8" height="35" src="amarillo.png" width="105" /></td>
							</tr>
							<tr>
								<td colspan="2" class="auto-style18">
								<table style="width: 96%" align="right">
									<tr>
										<td class="auto-style16" style="width: 862px">
										<a href="modificacion-proyecto.html">proyecto 1.1.1.1</a></td>
										<td class="auto-style16">
										<img alt="" height="30" src="amarillo.png" width="90" /></td>
									</tr>
									<tr>
										<td class="auto-style16" style="width: 862px">
										<a href="modificacion-proyecto.html">proyecto 1.1.1.2</a></td>
										<td class="auto-style16">
										<img alt="" height="30" src="siga.png" width="90" /></td>
									</tr>
								</table>
								</td>
							</tr>
							<tr>
								<td class="auto-style16" style="width: 832px">
								<a href="modificacion-estrategia.html">estrategia 1.1.2</a></td>
								<td class="auto-style16">
								<img alt="" height="35" src="siga.png" width="105" /></td>
							</tr>
							<tr>
								<td colspan="2">
								<table style="width: 96%" align="right">
									<tr>
										<td class="auto-style16" style="width: 862px">
										<a href="modificacion-proyecto.html">proyecto 1.1.2.1</a></td>
										<td class="auto-style16">
										<img alt="" height="30" src="siga.png" width="90" /></td>
									</tr>
									<tr>
										<td class="auto-style16" style="width: 862px">
										<a href="modificacion-proyecto.html">proyecto 1.1.2.2</a></td>
										<td class="auto-style16">
										<img alt="" height="30" src="amarillo.png" width="90" /></td>
									</tr>
									<tr>
										<td class="auto-style16" style="width: 862px">
										<a href="modificacion-proyecto.html">proyecto 1.1.2.3</a></td>
										<td class="auto-style16">
										<img alt="" height="30" src="alto.png" width="90" /></td>
									</tr>
								</table>
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				</td>
			</tr>
			<tr>
				<td class="auto-style9">
				<table style="width: 94%" align="right">
					<tr>
						<td class="auto-style16" style="width: 818px">
						<a href="modificacion-meta.html">meta 1.2</a></td>
						<td class="auto-style16">
						<img alt="" class="auto-style8" height="40" src="amarillo.png" width="120" /></td>
					</tr>
					<tr>
						<td colspan="2">
						<table style="width: 93%" align="right">
							<tr>
								<td class="auto-style16" style="width: 827px">
								<a href="modificacion-estrategia.html">estrategia 1.2.1</a></td>
								<td class="auto-style16">
								<img alt="" class="auto-style8" height="35" src="amarillo.png" width="105" /></td>
							</tr>
							<tr>
								<td colspan="2">
								<table style="width: 96%" align="right">
									<tr>
										<td class="auto-style16" style="width: 849px">
										<a href="modificacion-proyecto.html">proyecto 1.2.1.1</a></td>
										<td class="auto-style16">
										<img alt="" height="30" src="alto.png" width="90" /></td>
									</tr>
								</table>
								</td>
							</tr>
						</table>
						</td>
					</tr>
				</table>
				</td>
			</tr>
			<tr>
				<td class="auto-style19">
				<a href="modificacion-meta.html">
		<img id="img3" alt="añadir meta" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img3',/*url*/'buttonB.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img3',/*url*/'button6.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img3',/*url*/'button7.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img3',/*url*/'button7.jpg')" src="button6.jpg" style="border: 0" width="100" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="añadir meta" --></a></td>
			</tr>
		</table>
		
</body>

</html>
