<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="nl-be" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>planeación táctica</title>
<style type="text/css">
a {
	color: #00CCFF;
}
a:visited {
	color: #0066CC;
}
a:active {
	color: #00FFFF;
}
a:hover {
	color: #66FFCC;
}
.auto-style1 {
	font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style2 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: medium;
	border: 1px solid #FFFFFF;
}
.auto-style6 {
	border: 1px solid #FFFFFF;
}
.auto-style8 {
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style9 {
	border-color: #FFFF00;
	border-width: 0;
}
.auto-style11 {
	text-decoration: underline;
}
</style>
<script type="text/javascript">
<!--
function FP_swapImg() {//v1.0
 var doc=document,args=arguments,elm,n; doc.$imgSwaps=new Array(); for(n=2; n<args.length;
 n+=2) { elm=FP_getObjectByID(args[n]); if(elm) { doc.$imgSwaps[doc.$imgSwaps.length]=elm;
 elm.$src=elm.src; elm.src=args[n+1]; } }
}

function FP_preloadImgs() {//v1.0
 var d=document,a=arguments; if(!d.FP_imgs) d.FP_imgs=new Array();
 for(var i=0; i<a.length; i++) { d.FP_imgs[i]=new Image; d.FP_imgs[i].src=a[i]; }
}

function FP_getObjectByID(id,o) {//v1.0
 var c,el,els,f,m,n; if(!o)o=document; if(o.getElementById) el=o.getElementById(id);
 else if(o.layers) c=o.layers; else if(o.all) el=o.all[id]; if(el) return el;
 if(o.id==id || o.name==id) return o; if(o.childNodes) c=o.childNodes; if(c)
 for(n=0; n<c.length; n++) { el=FP_getObjectByID(id,c[n]); if(el) return el; }
 f=o.forms; if(f) for(n=0; n<f.length; n++) { els=f[n].elements;
 for(m=0; m<els.length; m++){ el=FP_getObjectByID(id,els[n]); if(el) return el; } }
 return null;
}
// -->
</script>
</head>

<body style="color: #FFFFFF; background-color: #333333; width: 1032px;" onload="FP_preloadImgs(/*url*/'button2C.jpg',/*url*/'button2D.jpg')">

<table style="width: 100%">
	<tr>
		<td style="width: 944px">
		<img alt="http://goremo.mx" height="70" src="goremo1.gif" width="217" />&nbsp;&nbsp;&nbsp;
<span class="auto-style1">planeación táctica&nbsp; </span>&nbsp;</td>
		<td>
<span class="auto-style1">
		<img id="img1" alt="salir" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img1',/*url*/'button2D.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img1',/*url*/'button2B.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img1',/*url*/'button2C.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img1',/*url*/'button2C.jpg')" src="button2B.jpg" style="border: 0" width="100" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="salir" --></span>&nbsp;</td>
	</tr>
</table>
<p class="auto-style1">mis objetivos</p>
<p class="auto-style8" style="width: 1020px">Esta es la página de entrada para 
el manager. En esta página el podrá revisar el progreso de 
<span class="auto-style11">sus</span> objetivos.</p>
<table class="auto-style9" style="width: 99%">
	<tr>
		<td class="auto-style2" style="width: 2699px">
		<a href="manager-objetivo.html">Objetivo 1</a></td>
		<td class="auto-style6">
		<img alt="este valor se calcula" height="40" src="alto.png" width="120" /></td>
	</tr>
	<tr>
		<td class="auto-style2" style="width: 2699px">
		<a href="manager-objetivo.html">Objetivo 2</a></td>
		<td class="auto-style6">
		<img alt="" height="40" src="amarillo.png" width="120" /></td>
	</tr>
	<tr>
		<td class="auto-style2" style="width: 2699px">
		<a href="manager-objetivo.html">Objetivo 3</a></td>
		<td class="auto-style6">
		<img alt="" height="40" src="siga.png" width="120" /></td>
	</tr>
	<tr>
		<td class="auto-style2" style="width: 2699px">
		<a href="manager-objetivo.html">Objetivo 4</a></td>
		<td class="auto-style6">
		<img alt="" height="40" src="siga.png" width="120" /></td>
	</tr>
</table>

</body>

</html>
