<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="nl-be" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>planeación táctica</title>
<style type="text/css">
a {
	color: #00CCFF;
}
a:visited {
	color: #0066CC;
}
a:active {
	color: #00FFFF;
}
a:hover {
	color: #66FFCC;
}
.auto-style1 {
	font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style8 {
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style9 {
	font-size: medium;
}
.auto-style10 {
	border: 1px solid #FFFFFF;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style11 {
	font-size: medium;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style13 {
	border: 1px solid #FFFFFF;
	font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}
.auto-style14 {
	border: 0 solid #FFFFFF;
}
.auto-style15 {
	font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border: 0 solid #FFFFFF;
}
.auto-style16 {
	border: 1px solid #FFFFFF;
	font-size: medium;
}
.auto-style17 {
	border: 1px solid #FFFFFF;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}
</style>
<script type="text/javascript">
<!--
function FP_swapImg() {//v1.0
 var doc=document,args=arguments,elm,n; doc.$imgSwaps=new Array(); for(n=2; n<args.length;
 n+=2) { elm=FP_getObjectByID(args[n]); if(elm) { doc.$imgSwaps[doc.$imgSwaps.length]=elm;
 elm.$src=elm.src; elm.src=args[n+1]; } }
}

function FP_preloadImgs() {//v1.0
 var d=document,a=arguments; if(!d.FP_imgs) d.FP_imgs=new Array();
 for(var i=0; i<a.length; i++) { d.FP_imgs[i]=new Image; d.FP_imgs[i].src=a[i]; }
}

function FP_getObjectByID(id,o) {//v1.0
 var c,el,els,f,m,n; if(!o)o=document; if(o.getElementById) el=o.getElementById(id);
 else if(o.layers) c=o.layers; else if(o.all) el=o.all[id]; if(el) return el;
 if(o.id==id || o.name==id) return o; if(o.childNodes) c=o.childNodes; if(c)
 for(n=0; n<c.length; n++) { el=FP_getObjectByID(id,c[n]); if(el) return el; }
 f=o.forms; if(f) for(n=0; n<f.length; n++) { els=f[n].elements;
 for(m=0; m<els.length; m++){ el=FP_getObjectByID(id,els[n]); if(el) return el; } }
 return null;
}
// -->
</script>
</head>

<body style="color: #FFFFFF; background-color: #333333; width: 1032px;" onload="FP_preloadImgs(/*url*/'button2C.jpg',/*url*/'button2D.jpg',/*url*/'button7D.jpg',/*url*/'button7E.jpg',/*url*/'button8F.jpg',/*url*/'button90.jpg',/*url*/'button2F.jpg',/*url*/'button30.jpg',/*url*/'button3B.jpg',/*url*/'button3C.jpg',/*url*/'button71.jpg',/*url*/'button72.jpg')">

<table style="width: 100%">
	<tr>
		<td style="width: 944px" class="auto-style14">
		<img alt="http://goremo.mx" height="70" src="goremo1.gif" width="217" />&nbsp;&nbsp;&nbsp;
		<span class="auto-style1">detalles de estrategia</span></td>
		<td class="auto-style15">
		<img id="img1" alt="salir" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img1',/*url*/'button2D.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img1',/*url*/'button2B.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img1',/*url*/'button2C.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img1',/*url*/'button2C.jpg')" src="button2B.jpg" style="border: 0" width="100" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="salir" --><br />
		<a href="modificacion-meta.html">
		<img id="img7" alt="regresar" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img7',/*url*/'button7E.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img7',/*url*/'button7C.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img7',/*url*/'button7D.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img7',/*url*/'button7D.jpg')" src="button7C.jpg" style="border: 0" width="100" class="auto-style1" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="regresar" --></a></td>
	</tr>
</table>
<p class="auto-style8" style="width: 1020px"><br />
<br />
En esta página el manager podrá modificar una meta existente o crear una nueva 
estrategia para una meta ya definida. <br />
También podrá añadir, modificar o remover proyectos ligados a esta estrategia.<br />
<br />
Los campos marcados con asterisco (*) son obligatorios </p>
<table style="width: 99%; height: 253px" class="auto-style9">
	<tr>
		<td class="auto-style10" style="height: 26px; width: 357px">Objetivo 
		padre</td>
		<td class="auto-style16" style="height: 26px" colspan="3">
		<em>&lt;nombre del objetivo padre&gt;</em></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 26px; width: 357px">Meta&nbsp;padre</td>
		<td class="auto-style16" style="height: 26px" colspan="3">
		<em>&lt;nombre de la meta padre&gt;</em></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 26px; width: 357px">Nombre de la 
		estrategia *</td>
		<td class="auto-style16" style="height: 26px" colspan="3">
		<input name="Text4" style="width: 770px" type="text" class="auto-style11" /><span class="auto-style1">&nbsp;</span></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 72px; width: 357px">Descripción 
		de la estrategia</td>
		<td class="auto-style16" style="height: 72px" colspan="3">
		<input name="Text3" style="width: 770px; height: 62px" type="text" class="auto-style11" /><span class="auto-style1">&nbsp;</span></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 35px; " rowspan="3">Proyectos 
		relacionados *</td>
		<td class="auto-style10" style="height: 35px; width: 582px">
		<a href="modificacion-proyecto.html">proyecto 1</a></td>
		<td class="auto-style10" style="height: 35px; width: 582px">
		<a href="mailto:lider1@goremo.mx">líder del proyecto&nbsp;</a></td>
		<td class="auto-style10" style="height: 35px; ">
		<img id="img10" alt="remover" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img10',/*url*/'button30.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img10',/*url*/'button2E.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img10',/*url*/'button2F.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img10',/*url*/'button2F.jpg')" src="button2E.jpg" style="border: 0" width="100" class="auto-style1" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="remover" --></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 35px; width: 582px">
		<a href="modificacion-proyecto.html">proyecto 2</a></td>
		<td class="auto-style10" style="height: 35px; width: 582px">
		<a href="mailto:lider1@goremo.mx">líder del proyecto&nbsp;</a></td>
		<td class="auto-style10" style="height: 35px; ">
		<img id="img12" alt="remover" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img12',/*url*/'button3C.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img12',/*url*/'button37.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img12',/*url*/'button3B.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img12',/*url*/'button3B.jpg')" src="button37.jpg" style="border: 0" width="100" class="auto-style1" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="remover" --></td>
	</tr>
	<tr>
		<td class="auto-style17" style="height: 35px; " colspan="3">
		<a href="modificacion-proyecto.html">
		<img id="img13" alt="añadir proyecto" height="22" onmousedown="FP_swapImg(1,0,/*id*/'img13',/*url*/'button72.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img13',/*url*/'button70.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img13',/*url*/'button71.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img13',/*url*/'button71.jpg')" src="button70.jpg" style="border: 0" width="112" class="auto-style1" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9" fp-title="añadir proyecto" --></a></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 26px; width: 357px">Comentarios</td>
		<td class="auto-style16" style="height: 26px" colspan="3">
		log de comentarios donde se van acumulando las entradas del manager<br />
		<br />
		<textarea name="TextArea1" rows="2" style="width: 732px">nuevo comentario</textarea></td>
	</tr>
	<tr>
		<td class="auto-style13" colspan="4">
		<img id="img8" alt="salvar cambios" height="32" onmousedown="FP_swapImg(1,0,/*id*/'img8',/*url*/'button90.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img8',/*url*/'button8E.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img8',/*url*/'button8F.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img8',/*url*/'button8F.jpg')" src="button8E.jpg" style="border: 0" width="159" class="auto-style1" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="salvar cambios" --></td>
	</tr>
</table>

</body>

</html>
