<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="nl-be" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>planeación táctica</title>
<style type="text/css">
a {
	color: #00CCFF;
}
a:visited {
	color: #0066CC;
}
a:active {
	color: #00FFFF;
}
a:hover {
	color: #66FFCC;
}
.auto-style1 {
	font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style8 {
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style9 {
	font-size: medium;
}
.auto-style10 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style11 {
	font-size: medium;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style12 {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	margin-top: 0px;
	margin-bottom: 7px;
}
.auto-style13 {
	font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}
.auto-style14 {
	border: 1px solid #FFFFFF;
	font-size: medium;
}
.auto-style15 {
	border: 1px solid #FFFFFF;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
</style>
<script type="text/javascript">
<!--
function FP_swapImg() {//v1.0
 var doc=document,args=arguments,elm,n; doc.$imgSwaps=new Array(); for(n=2; n<args.length;
 n+=2) { elm=FP_getObjectByID(args[n]); if(elm) { doc.$imgSwaps[doc.$imgSwaps.length]=elm;
 elm.$src=elm.src; elm.src=args[n+1]; } }
}

function FP_preloadImgs() {//v1.0
 var d=document,a=arguments; if(!d.FP_imgs) d.FP_imgs=new Array();
 for(var i=0; i<a.length; i++) { d.FP_imgs[i]=new Image; d.FP_imgs[i].src=a[i]; }
}

function FP_getObjectByID(id,o) {//v1.0
 var c,el,els,f,m,n; if(!o)o=document; if(o.getElementById) el=o.getElementById(id);
 else if(o.layers) c=o.layers; else if(o.all) el=o.all[id]; if(el) return el;
 if(o.id==id || o.name==id) return o; if(o.childNodes) c=o.childNodes; if(c)
 for(n=0; n<c.length; n++) { el=FP_getObjectByID(id,c[n]); if(el) return el; }
 f=o.forms; if(f) for(n=0; n<f.length; n++) { els=f[n].elements;
 for(m=0; m<els.length; m++){ el=FP_getObjectByID(id,els[n]); if(el) return el; } }
 return null;
}
// -->
</script>
</head>

<body style="color: #FFFFFF; background-color: #333333; width: 1032px;" onload="FP_preloadImgs(/*url*/'button2C.jpg',/*url*/'button2D.jpg',/*url*/'button7D.jpg',/*url*/'button7E.jpg',/*url*/'button8F.jpg',/*url*/'button90.jpg')">

<table style="width: 100%">
	<tr>
		<td style="width: 944px">
		<img alt="http://goremo.mx" height="70" src="goremo1.gif" width="217" />&nbsp;&nbsp;&nbsp;
<span class="auto-style1">editar objetivo</span>&nbsp;</td>
		<td>
<span class="auto-style1">
		<img id="img1" alt="salir" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img1',/*url*/'button2D.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img1',/*url*/'button2B.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img1',/*url*/'button2C.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img1',/*url*/'button2C.jpg')" src="button2B.jpg" style="border: 0" width="100" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="salir" --><br />
		<a href="ejecutivo.html">
		<img id="img7" alt="regresar" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img7',/*url*/'button7E.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img7',/*url*/'button7C.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img7',/*url*/'button7D.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img7',/*url*/'button7D.jpg')" src="button7C.jpg" style="border: 0" width="100" class="auto-style1" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="regresar" --></a></span></td>
	</tr>
</table>
<p class="auto-style8" style="width: 1020px"><br />
<br />
En esta página el ejecutivo podrá crear un nuevo objetivo o editar un objetivo 
existente, asignarlo a un 
manager y eventualmente relacionarlo a otro(s) objetivo(s). El detalle del 
objetivo a linkear se dá al clickear en el nombre del objetivo. <br />
Al guardar, se envía un e-mail al Manager seleccionado para informarlo de que un 
nuevo objetivo se le ha asignado.<br />
<br />
Los campos marcados con asterisco (*) son obligatorios </p>
<table style="width: 99%; height: 253px" class="auto-style9">
	<tr>
		<td class="auto-style15" style="height: 26px; width: 233px">Nombre del 
		objetivo&nbsp;*</td>
		<td class="auto-style14" style="height: 26px">
		<input name="Text4" style="width: 770px" type="text" class="auto-style11" /><span class="auto-style1">&nbsp;</span></td>
	</tr>
	<tr>
		<td class="auto-style15" style="height: 72px; width: 233px">Descripción 
		del objetivo</td>
		<td class="auto-style14" style="height: 72px">
		<input name="Text3" style="width: 770px; height: 62px" type="text" class="auto-style11" /><span class="auto-style1">&nbsp;</span></td>
	</tr>
	<tr>
		<td class="auto-style15" style="height: 27px; width: 233px">Manager 
		Asignado&nbsp;*</td>
		<td class="auto-style14" style="height: 27px">
		<select name="Select1" style="width: 488px" class="auto-style11">
		<option>manager 1</option>
		<option>manager 2</option>
		<option>manager 3</option>
		</select></td>
	</tr>
	<tr>
		<td class="auto-style15" style="width: 233px">Objetivo(s) relacionado(s)</td>
		<td class="auto-style14">
		<form class="auto-style12" method="post" style="height: 20px">
			<input checked="checked" name="Radio1" type="radio" class="auto-style11" /><span class="auto-style10">
			<a href="ejecutivo-objetivo.html">Objetivo 1</a></span></form>
		<form class="auto-style12" method="post" style="height: 20px">
			<input checked="checked" name="Radio1" type="radio" class="auto-style11" value="" /><span class="auto-style10">
			<a href="ejecutivo-objetivo.html">Objetivo 2</a></span></form>
		<form class="auto-style12" method="post" style="height: 20px">
			<input checked="checked" name="Radio1" type="radio" class="auto-style11" value="" /><span class="auto-style10">
			<a href="ejecutivo-objetivo.html">Objetivo 3</a></span></form>
		<form class="auto-style12" method="post" style="height: 20px">
			<input checked="checked" name="Radio1" type="radio" class="auto-style11" value="" /><span class="auto-style10">
			<a href="ejecutivo-objetivo.html">Objetivo 4</a></span></form>
		</td>
	</tr>
	<tr>
		<td class="auto-style13" colspan="2">
		<img id="img8" alt="Crear nuevo objetivo" height="32" onmousedown="FP_swapImg(1,0,/*id*/'img8',/*url*/'button90.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img8',/*url*/'button8E.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img8',/*url*/'button8F.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img8',/*url*/'button8F.jpg')" src="button8E.jpg" style="border: 0" width="159" class="auto-style1" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="Crear nuevo objetivo" --></td>
	</tr>
</table>

</body>

</html>
