<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="nl-be" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>planeación táctica</title>
<style type="text/css">
a {
	color: #00CCFF;
}
a:visited {
	color: #0066CC;
}
a:active {
	color: #00FFFF;
}
a:hover {
	color: #66FFCC;
}
.auto-style1 {
	font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style8 {
	font-size: small;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style9 {
	font-size: medium;
}
.auto-style10 {
	border: 1px solid #FFFFFF;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style13 {
	border: 1px solid #FFFFFF;
	font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
}
.auto-style14 {
	border: 0 solid #FFFFFF;
}
.auto-style15 {
	font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	border: 0 solid #FFFFFF;
}
.auto-style16 {
	border: 1px solid #FFFFFF;
	font-size: medium;
}
.auto-style18 {
	border: 1px solid #FFFFFF;
	font-size: medium;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.auto-style19 {
	font-size: small;
}
.auto-style20 {
	border: 1px solid #FFFFFF;
	font-size: xx-large;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
</style>
<script type="text/javascript">
<!--
function FP_swapImg() {//v1.0
 var doc=document,args=arguments,elm,n; doc.$imgSwaps=new Array(); for(n=2; n<args.length;
 n+=2) { elm=FP_getObjectByID(args[n]); if(elm) { doc.$imgSwaps[doc.$imgSwaps.length]=elm;
 elm.$src=elm.src; elm.src=args[n+1]; } }
}

function FP_preloadImgs() {//v1.0
 var d=document,a=arguments; if(!d.FP_imgs) d.FP_imgs=new Array();
 for(var i=0; i<a.length; i++) { d.FP_imgs[i]=new Image; d.FP_imgs[i].src=a[i]; }
}

function FP_getObjectByID(id,o) {//v1.0
 var c,el,els,f,m,n; if(!o)o=document; if(o.getElementById) el=o.getElementById(id);
 else if(o.layers) c=o.layers; else if(o.all) el=o.all[id]; if(el) return el;
 if(o.id==id || o.name==id) return o; if(o.childNodes) c=o.childNodes; if(c)
 for(n=0; n<c.length; n++) { el=FP_getObjectByID(id,c[n]); if(el) return el; }
 f=o.forms; if(f) for(n=0; n<f.length; n++) { els=f[n].elements;
 for(m=0; m<els.length; m++){ el=FP_getObjectByID(id,els[n]); if(el) return el; } }
 return null;
}
// -->
</script>
</head>

<body style="color: #FFFFFF; background-color: #333333; width: 1032px;" onload="FP_preloadImgs(/*url*/'button2C.jpg',/*url*/'button2D.jpg',/*url*/'button8F.jpg',/*url*/'button90.jpg',/*url*/'button41.jpg',/*url*/'button42.jpg')">

<table style="width: 100%">
	<tr>
		<td style="width: 944px" class="auto-style14">
		<img alt="http://goremo.mx" height="70" src="goremo1.gif" width="217" />&nbsp;&nbsp;&nbsp;
		<span class="auto-style1">seguimiento de acción</span></td>
		<td class="auto-style15">
		<img id="img1" alt="salir" height="20" onmousedown="FP_swapImg(1,0,/*id*/'img1',/*url*/'button2D.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img1',/*url*/'button2B.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img1',/*url*/'button2C.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img1',/*url*/'button2C.jpg')" src="button2B.jpg" style="border: 0" width="100" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="salir" --><br />
		</td>
	</tr>
</table>
<p class="auto-style8" style="width: 1020px"><br />
<br />
Esta es la página de entrada para el responsable de acción.<br />
Aquí podrá modificar una acción existente o crear una nueva 
para su objetivo específico. <br />
Cuando se salvan cambios se envía un e-mail al lider del proyecto.<br />
<br />
Los campos marcados con asterisco (*) son obligatorios </p>
<table style="width: 92%; height: 253px" class="auto-style9">
	<tr>
		<td class="auto-style10" style="height: 26px; width: 357px">Proyecto 
		padre</td>
		<td class="auto-style16" style="height: 26px">
		<em>&lt;nombre del proyecto padre&gt;</em></td>
		<td class="auto-style18" style="height: 26px; width: 156px;" colspan="2">
		Lider del proyecto</td>
		<td class="auto-style16" style="height: 26px; width: 158px;">
		<em><a href="mailto:lider2@goremo.mx">&lt;nombre del lider del proyecto&gt;</a></em></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 26px; width: 357px">Nombre de la 
		acción</td>
		<td class="auto-style20" style="height: 26px" colspan="4">
		<em><span class="auto-style19">&lt;nombre de la acción&gt;</span></em></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 37px; width: 357px">Responsable 
		de la acción</td>
		<td class="auto-style16" style="height: 37px" colspan="4">
		<em>&lt;nombre del responsable de la acción&gt;</em></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 72px; width: 357px">Descripción 
		de la acción</td>
		<td class="auto-style20" style="height: 72px" colspan="4">
		<em><span class="auto-style19">&lt;texto describiendo la acción&gt;</span></em>&nbsp;</td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 72px; width: 357px">Fecha de 
		cumplimiento</td>
		<td class="auto-style16" style="height: 72px" colspan="4">
		dd/mm/aaaa con calendario</td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 35px; " colspan="5">Porcentaje 
		de avance*&nbsp;
		<input name="Text1" type="text" />&nbsp;</td>
	</tr>
	<tr>
		<td class="auto-style10" rowspan="2">Acciones relacionadas</td>
		<td class="auto-style10" style="height: 35px; " colspan="2">
		<a href="seguimiento-accion.html">acción 1</a>
		<span class="auto-style19"><em>(mismo contenido que esta pantalla pero 
		solo lectura)</em></span></td>
		<td class="auto-style10" style="height: 35px; " colspan="2">
		<em><a href="mailto:responsable1@goremo.mx">&lt;responsable de acción&gt;</a></em></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 35px; " colspan="2">
		<a href="seguimiento-accion.html">acción 2</a>
		<span class="auto-style19"><em>(mismo contenido que esta pantalla pero 
		solo lectura)</em></span></td>
		<td class="auto-style10" style="height: 35px; " colspan="2">
		<em><a href="mailto:responsable1@goremo.mx">&lt;responsable de acción&gt;</a></em></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 26px; width: 357px">Comentarios</td>
		<td class="auto-style16" style="height: 26px" colspan="4">
		log de comentarios donde se van acumulando las entradas del manager<br />
		<br />
		<textarea name="TextArea1" rows="2" style="width: 732px">nuevo comentario</textarea></td>
	</tr>
	<tr>
		<td class="auto-style10" style="height: 26px; width: 380px">Problemas</td>
		<td class="auto-style16" style="height: 26px" colspan="2">
		log de problemas donde se van acumulando las entradas<br />
		<br />
		<textarea name="TextArea2" rows="2" style="width: 472px">nuevo problema</textarea></td>
		<td class="auto-style16" style="height: 26px">
		<br />
		<br />
		<img id="img14" alt="borrar problema" height="35" onmousedown="FP_swapImg(1,0,/*id*/'img14',/*url*/'button42.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img14',/*url*/'button40.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img14',/*url*/'button41.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img14',/*url*/'button41.jpg')" src="button40.jpg" style="border: 0" width="110" class="auto-style1" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif; fp-proportional: 0" fp-title="borrar problema" --></td>
		<td class="auto-style16" style="height: 26px; width: 158px;">
		Severidad del problema<br />
		<br />
		<br />
		<select name="Select3" style="width: 144px; height: 16px">
		<option>Alta</option>
		<option>Baja</option>
		</select><br />
		</td>
		</tr>
	<tr>
		<td class="auto-style13" colspan="5">
		<img id="img8" alt="salvar cambios" height="32" onmousedown="FP_swapImg(1,0,/*id*/'img8',/*url*/'button90.jpg')" onmouseout="FP_swapImg(0,0,/*id*/'img8',/*url*/'button8E.jpg')" onmouseover="FP_swapImg(1,0,/*id*/'img8',/*url*/'button8F.jpg')" onmouseup="FP_swapImg(0,0,/*id*/'img8',/*url*/'button8F.jpg')" src="button8E.jpg" style="border: 0" width="159" class="auto-style1" /><!-- MSComment="ibutton" fp-style="fp-btn: Corporate 9; fp-font: Verdana, Geneva, Tahoma, sans-serif" fp-title="salvar cambios" --></td>
	</tr>
</table>

</body>

</html>
